; DATA
data/*
!data/toy.obs.lisp
!data/toy.kb.lisp

; CONF
conf/*
!conf/toy.*

; LIBS
src/lib/lpsolve55/*
!src/lib/lpsolve55/HOWTOUSE

; FOR UNIX
*.o
bin/*

; FOR WINDOWS
Thumbs.db
*.cmd
*.obj
*.exe
*.pdb
*.user
*.aps
*.pch
*.vspscc
*.ncb
*.suo
*.tlb
*.tlh
*.bak
*.cache
*.ilk
*.log
*.sdf
*.opensdf
ipch
vs/[Dd]ebug/*
vs/[Rr]elease/*
