[Mm]akefile

; DATA
data/*
!data/toy.lisp
!data/toy.obs.lisp
!data/toy.kb.lisp

; CONF
conf/*
!conf/toy.*

; LIBS
lpsolve55/*

; PYTHON
*.pyc

; FOR UNIX
*.o
*.lo
bin/*
lib/*

; FOR WINDOWS
Thumbs.db
*.cmd
*.obj
*.exe
*.pdb
*.user
*.aps
*.pch
*.vspscc
*.ncb
*.suo
*.tlb
*.tlh
*.bak
*.cache
*.ilk
*.log
*.sdf
*.opensdf
ipch
vs/[Dd]ebug/*
vs/[Rr]elease/*
vs/[Ll]ib[Dd]ebug/*
vs/[Ll]ib[Rr]elease/*
